:root {
  --font-family-main: consolas, 'Times New Roman', serif;

  // font sizes
  --font-size-s: 16px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 20px;
  --font-line-m: 26px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 28px;
  --font-line-l: 36px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xxl: 72px;
  --font-line-xxl: 80px;
  --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

  // отступ основного контента
  --content-padding: 20px;

  // border radius
  --border-radius-m: 6px;
  --border-radius-l: 12px;
}
