@import "shared/styles/mixins";

// todo вынести цвета и прибраться после реализации переключения темы

$toggle-width: 80px;
$toggle-height: 40px;
$toggle-padding: 4px;

.themeSwitcher {
  position: relative;
  cursor: pointer;
}

.input {
  @include reset-base-styles;
  appearance: none;
  position: relative;
  display: inline-block;
  width: $toggle-width;
  height: $toggle-height;
  margin: 0;
  vertical-align: top;
  background: var(--switcher-theme-color);
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: $toggle-padding;
    top: $toggle-padding;
    width: calc(#{$toggle-height} - #{$toggle-padding} * 2);
    height: calc(#{$toggle-height} - #{$toggle-padding} * 2);
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(0);
    transition: transform 300ms;
  }

  &:checked {
    &::after {
      transform: translateX(calc(#{$toggle-width} - #{$toggle-height}));
      background-color: #000;
    }
  }
}

.icon {
  position: absolute;
  width: calc(#{$toggle-height} - 14px);
  height: calc(#{$toggle-height} - 14px);
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  &.left {
    left: 6px;
  }

  &.right {
    right: 6px;
  }
}
