@import "shared/styles/mixins";

.select {
  @include reset-base-styles;
  cursor: pointer;
  height: 36px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-m);
  font: var(--font-line-m);
  background-color: var(--switcher-theme-color);
}
