.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.locationWrpapper {
  display: flex;
  align-items: center;
}

.btnGeolocation {
  margin-left: 20px;
}

.switchersWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 100%;
}

.switcherItem {
  & + & {
    margin-left: 30px;
  }
}

.geolocationIcon {
  fill: var(--secondary-color);
}
